PORT=3001
CORS_ORIGIN="localhost:5173"

# Variables para conexión a Postgres
DIRECT_URL="Url directa"
DATABASE_URL="Url dinámica"

# Variables para conexión a bucket S3
AWS_ENDPOINT_URL_S3="URL de endpoint"
AWS_ACCESS_KEY_ID="Llave de acceso AWS"
AWS_SECRET_ACCESS_KEY="Llave de acceso secreta AWS"
AWS_REGION="Región de bucket ej. us-east-2"
S3_BUCKET="Nombre del bucket ej. images"